@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
    background-image: linear-gradient(rgba(255,255,255,.45),rgba(255,255,255,.5)
                                               ), url('https://img.freepik.com/premium-vector/seamless-pattern-with-hens-chicken-with-brood-cute-lovely-family-domestic-fowl-poultry-birds-childish-flat-cartoon-vector-illustration_317038-1563.jpg?w=2000');
    font-family: 'Lato', sans-serif;
    color: black;

}

html, body {
    overflow-x: hidden;


}

header {
    text-align: center;

}

h1, p {
    margin: 20px;
}

p {
    font-size: 18px;
}

nav.nav {
  background-color: white;
  overflow: hidden;
  text-align: center;
  display: table;
  margin: 0;
  padding: 40px;
}

nav.nav ul {
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background: white;
  padding: 0 auto;
  width: 100%;
  list-style-type: none;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;

}

nav.nav li {
  color: white;
  text-align: center;
  display: inline-block;
  margin: 15px;
}

nav.nav li a {
  display: inline-block;
  color: black;
  padding: 10px 12px;
  text-decoration: none;
}

nav.nav li a:hover {
  background-color: white;
  color: black;
  border: 3px solid #F3899D;
  border-radius: 4px;
  opacity: 0.9;
}


@media only screen and (max-width: 768px) {
  nav.nav {
    padding: 0;
  }

  nav.nav li {
    margin: 0;
  }
}

header #logo {
    position: absolute;
    width: 190px;
	display: flex;
    animation: ouvido1 25s infinite linear;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 767px) {
  header #logo {
    width: 100px;
    position: absolute;
    top: 180px;
  }
}

.galinha {
    width: 70px;
    height: 70px;
    transform: scaleX(-1);

}

@keyframes ouvido1 {
    from{
        right: -120px;
    }
    to {
        right: 100%;
    }
}



@keyframes mover-gif {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(3000px);
    }
    100% {
        transform: translateX(0);
    }
}


main, footer {
		height: auto;
	flex: 20 1 500px;
}

aside {

	flex: 1 1 150px;
}



section {
    text-align: center;
}

footer {
    position: static;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    opacity: 0.9;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;

}


.footer {
    margin: 0;
    text-align: center;
    color: black;
    font-size: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
	text-align: center;
	display: inline-block;

}

.rodape {
    width: 25px;
    margin: 10px;

}


.propaganda {
    margin: 10px;
    text-align: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
 }



.fotos {
    border: 12px solid #F3899D;
    margin: 10px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    positon: static;
}

.video {
    border: 12px solid #F3899D;
    margin: 10px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
}

@media (min-width: 992px) {
  .fotos {
    width: 30%;
  }

  .video {
    width: 40%;
    height: 250px;
  }

  .propaganda {
      width: 40%;

  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .fotos {
    width: 30%;

  }

  .video {
    width: 50%;
    height: 200px;
  }

    .propaganda {
        width: 50%;

    }
}

@media  (min-width: 360px) and (max-width: 640px) {
  .fotos {
    width: 40%;
  }

  .video {
    width: 70%;
    height: 150px;
  }

    .propaganda {
        width: 70%;
        margin-top: 100px;

    }
}